
#no-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(179, 241, 166);
}

#wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(179, 241, 166);
}

#wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: rgb(179, 241, 166);
}

#justify-content {
    display: flex;
    justify-content: center;
    background-color: rgb(179, 241, 166);
}

.child {
    width: 112px;
    height: 112px;
    margin: 10px;
    background-color: rgb(64, 158, 45);
}
